@charset "utf-8";

.l-footer {
    overflow-x: hidden;
    &__recruit{
        text-align: center;
        position: relative;
        > img{
            height: 450px;
            object-fit: cover;
            @include brSpLandscape{
                height: 400px;
            }
        }
        &.pc{
            @include brSpLandscape{
                display: none;
            }
        }
        &.sp{
            display: none;
            @include brSpLandscape{
                display: block;
            }
        }
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &__content{
            width: calc(100% - 50px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        .c-title-center{
            margin-bottom: 15px;
            @include brSpLandscape{
                margin-bottom: 7px;
            }
            h3{
                color: #fff;
            }
            p{
                color: #fff;
                @include brSpLandscape{
                    display: none;
                }
            }
        }
        &__desc{
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            line-height: 36px;
            @include brSpLandscape{
                font-size: 14px;
                line-height: 25px;
            }
            br.sp{
                display: none;
                @include brSpLandscape{
                    display: inline-block;
                }
            }
        }
        .c-btn-effect{
            margin: 31px auto 0;
            border-color: #fff;
            color: #fff;
            font-size: 18px;
            line-height: 24px;
            span{
                &::before{
                    content: url("../img/common/icn_arrow-right_white.svg");
                }
            }
            @include brSpLandscape{
                font-size: 14px;
                line-height: 19px;
                border-color: $textColor;
                margin-top: 25px;
            }
        }
    }

    &__doc-request{
        text-align: center;
        position: relative;
        > img{
            height: 450px;
            object-fit: cover;
            @include brSpLandscape{
                height: 400px;
            }
        }
        &.pc{
            @include brSpLandscape{
                display: none;
            }
        }
        &.sp{
            display: none;
            @include brSpLandscape{
                display: block;
            }
        }
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &__content{
            width: calc(100% - 50px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        .c-title-center{
            margin-bottom: 12px;
            @include brSpLandscape{
                margin-bottom: 13px;
            }
            h3{
                font-size: 32px;
                line-height: 43px;
                color: #fff;
                @include brSpLandscape{
                    font-size: 20px;
                    line-height: 27px;
                }
            }
            p{
                color: #fff;
                @include brSpLandscape{
                    display: none;
                }
            }
        }
        &__desc{
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            line-height: 36px;
            @include brSpLandscape{
                font-size: 14px;
                line-height: 25px;
            }
            br.sp{
                display: none;
                @include brSpLandscape{
                    display: inline-block;
                }
            }
        }
        .c-btn-effect{
            margin: 31px auto 0;
            border-color: #fff;
            color: #fff;
            font-size: 18px;
            line-height: 24px;
            span{
                &::before{
                    content: url("../img/common/icn_arrow-right_white.svg");
                }
            }
            @include brSpLandscape{
                font-size: 14px;
                line-height: 19px;
                border-color: $textColor;
                margin-top: 25px;
            }
        }
    }

    &__main{
        padding: 80px 0 30px;
        @include brSpLandscape{
            padding: 60px 0 0px;
        }
        .l-container{
            width: 1130px;
            margin-left: auto;
            margin-right: auto;
            @include brSpLandscape{
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        &__col{
            flex: 50%;
            max-width: 50%;
            padding-left: 15px;
            padding-right: 15px;
            @include brTablet{
                flex: 40%;
                max-width: 40%;
                + .l-footer__main__col{
                    flex: 60%;
                    max-width: 60%;
                }
            }
            @include brSpLandscape{
                flex: 100%;
                max-width: 100%;
            }
        }
        &__logo{
            margin-bottom: 30px;
            @include brSpLandscape{
                display: flex;
                justify-content: center;
                img{
                    width: auto;
                }
            }
        }
        &__link-sp{
            display: none;
            @include brSpLandscape{
                display: block;
            }
            ul{
                @include brSpLandscape{
                    padding: 0 10px;
                }
                li{
                    margin-bottom: 20px;
                    @include brSpLandscape{
                        margin-bottom: 16.5px;
                    }
                    a{
                        position: relative;
                        &:nth-child(1){
                            width: 100%;
                            margin-bottom: 12px;
                            &::after{
                                display: none;
                            }
                        }
                        &:nth-child(2){
                            &::before{
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 15px;
                                background-color: #535353;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        &:hover{
                            opacity: .7;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 1px;
                            height: 15px;
                            background-color: #535353;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &__privacy-sp{
            display: none;
            @include brSpLandscape{
                display: block;
                margin-top: -2px;
                margin-bottom: 17px;
                padding: 0 10px;
            }
            a{
                font-size: 14px;
                line-height: 19px;
            }
        }
        .c-btn-round{
            font-weight: 600;
            @include brSpLandscape{
                display: inline-flex;
            }
            &:hover{
                opacity: .7;
            }
        }
        &__social-link{
            margin-top: 20px;
            margin-bottom: 100px;
            @include brSpLandscape{
                margin-top: 0;
                margin-bottom: 0;
                display: inline-flex;   
                margin-left: 42px;
                position: relative;
                bottom: 3px;
            }
            @media (max-width: 374px){
                margin-left: 30px;
            }
            a{
                &:hover{
                    opacity: .7;
                }
                + a{
                    margin-left: 17px;
                    @include brSpLandscape{
                        margin-left: 21px;
                    }
                }
            }
        }
        &__privacy{
            margin-bottom: 10px;
            @include brSpLandscape{
                display: none;   
            }
            a{
                font-size: 14px;
                line-height: 19px;
                color: #535353;
                &:hover{
                    opacity: .7;
                }
            }
        }
        &__copy-right{
            font-size: 14px;
            line-height: 19px;
            color: #535353;
            position: relative;
            @include brSpLandscape{
                text-align: center;
                color: #fff;
                font-size: 10px;
                line-height: 14px;
                margin-top: 40px;
                padding: 7px 0;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1000%;
                    height: 100%;
                    background-color: $cAccent;
                    z-index: -1;
                }
            }
        }
        &__link{
            padding: 30px 0px 30px 28px;
            @include brSpLandscape{
                display: none;
            }
            ul{
                li{
                    margin-bottom: 20px;
                    a{
                        position: relative;
                        &:hover{
                            opacity: .7;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 1px;
                            height: 15px;
                            background-color: #535353;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &__category{
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            width: 148px;
        }
        &__category-child{
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            color: #535353;
            position: relative;
            padding: 0 7.5px;
            
        }
    }
}
