@charset "UTF-8";
.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #F0F0F0;
    z-index: 100;
    +section {
        margin-top: 100.5px;
        @include brTablet{
            margin-top: 75.5px;
        }
        @include brSpLandscape {
            margin-top: 75px;
        }
    }
}