@charset "utf-8";

.l-header-mb {
	display: none;
    padding: 26.5px 0;
    @include brTablet{
        display: block;
    }
    .js-toggle-menu{
        width: 24px;
        height: 18px;
        display: block;
        position: relative;
        margin-left: auto;
        &.active{
            + .l-header-mb__menu{
                opacity: 1;
                visibility: visible;
            }
            span{
                &:nth-child(1){
                    transform: translateY(8px) rotate(-33deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: translateY(-8px) rotate(33deg);
                }
            }
        }
        span{
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: #000;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            -webkit-transition: .4s;
            transition: .4s;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 8px;
            }
            &:nth-child(3){
                bottom: 0;
            }
        }
    }
    &__menu{
        width: 100vw;
        height: calc(100vh - 75px);
        overflow-y: auto;
        padding: 20px 25px;
        background: #fff;
        position: absolute;
        top: 75px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
        ul{
            li{
                a{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #F0F0F0;
                    padding: 14.5px 40px;
                    position: relative;
                    &::before{
                        content: url("../img/common/icn_arrow-right_black.svg");
                        position: absolute;
                        right: 38px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        margin-top: 23px;
        @media (max-width: 374px){
            padding: 0;
        }
    }
    &__contact{
        margin-right: 46px;
        @media (max-width: 374px){
            margin-right: 0;
        }
        .c-btn-round{
            font-weight: 600;
        }
    }
    &__social-link{
        a{
            + a{
                margin-left: 18px;
            }
        }
    }
}