@charset "utf-8";

// ============================================================
// 設定
// ============================================================

// HTML5の場合は「true」
$html5 : true;

// compass ブラウザサポート
$legacy-support-for-ie6 : true;
$legacy-support-for-ie7 : true;

$experimental-support-for-webkit : true;
$experimental-support-for-mozilla : true;
$experimental-support-for-opera : true;
$experimental-support-for-microsoft : true;
$experimental-support-for-khtml : false;

//ie9用 svg
$experimental-support-for-svg: true;

// 画像パス
$imgPath : "../images/";

// commonフォルダ内の画像のパス
$commonImgPath: "../common/images/";

// ページの全体の横幅
$baseWidth : 1000px;

// 標準font-family
$fontFamily : "Open Sans", sans-serif;
$fontMontserrat:'Montserrat', sans-serif;
$fontNoto:'Noto Sans JP', sans-serif;

// 標準行間
$lineHeight : 100%;
$lineHeightText:1.6;
$lineHeightText2:1.8;

// カラー
$cBase:#000000;
$cAccent:#EB5C01;
$cSub: #84B500;

// 標準テキストカラー
$textColor : #1F1F1F;

// 標準リンクカラー
$linkColor : $cBase;
$linkColor_visit : #cc9999;
$linkColor_active : #cc9999;
$linkColor_hover : #cc9999;



// ============================================================
// common
// ============================================================


@font-face {
	font-family: "honoka-shin-mincho";
	src: url("../font/Honoka_Shin_Mincho_L.otf");
}

@font-face {
	font-family: "gill-sans-regular";
	src: url("../font/Gill-Sans.otf");
}
html{
	overflow-x: hidden;
}
body{
	font-family: $fontFamily;
	background-color: #fff;
	font-feature-settings: "halt" 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	color: $textColor;
    overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: $textColor;
	text-decoration: none;
	display: inline-block;
	transition: .4s;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    width: 100%;
    vertical-align: bottom;
}
select{
	color: $textColor;
}
table {
	width:100%;
}
input {
	-webkit-appearance: none;
}
a:focus,
input:focus {
	outline: none;
}
button {
	cursor: pointer;
	border: none;
}
svg, path{
	transition: .4s;
}
.c-sub-color{
	color: $cSub !important; 
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: $textColor;
	margin-bottom: 16px;
}
input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #A3A3A3;
	border-radius: 100%;
	background: #fff;
}
input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: $textColor;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input[type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
input[type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
input[type="text"],
input[type="date"] {
	border: 1px solid #ADADAD;
	max-width: 100%;
	width: 670px;
	background-color: #F8F8F8;
	padding: 15px 20px;
	font-size: 16px;
	font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
	font-weight: 500;
	border-radius: 5px;
	color: $textColor;
	&::placeholder {
		padding: 0;
		font-size: 16px;
		line-height: 26px;
		font-weight: 500;
		color: #A3A3A3;
		font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
	}
}
input[type="date"] {
	width: 200px;
	height: 50px;
	// &::-webkit-calendar-picker-indicator{
	//     opacity: 0;
	// }
}