.c-pagination{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 0 5px;
            margin-bottom: 10px;
            &.prev{
                a{
                    background: url("../img/common/icn_pagination-left.svg") no-repeat center;
                    &:hover{
                        background-image: url("../img/common/icn_pagination-left_white.svg");
                    }
                }
            }
            &.next{
                a{
                    background: url("../img/common/icn_pagination-right.svg") no-repeat center;
                    &:hover{
                        background-image: url("../img/common/icn_pagination-right_white.svg");
                    }
                }
            }
            &.active, &:hover{
                a{
                    background-color: #000;
                    color: #fff;
                    border-color: #000;
                    path{
                        stroke: #fff;
                    }
                }
            }
            a{
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
                color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #D1D1D1;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                @include brSpLandscape{
                    font-size: 12px;
                    line-height: 22px;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}