.c-select{
    position: relative;
    border-radius: 4px;
    &::after{
        content: url("../img/common/icn_arrow_select_01.svg");
        position: absolute;
        right: 10px;
        top: calc(50% - 3px);
        transform: translateY(-50%);
        pointer-events: none;
    }
    select{
        appearance: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0 ;
    }
    input{
        text-align: center;
        width:100%;
        pointer-events:none;
        border: none;
        font-size: 20px;
        line-height: 27px;
        color: #1F1F1F;
        font-weight: 600;
        width: 120px;
        @include brSpLandscape{
            height: 44px;
            background: #F4F4F4;
            border-radius: 4px;
            font-size: 14px;
            line-height: 19px;
            color: #1F1F1F;
        }
    }
}
