.c-title-left{
    h3{
        font-size: 35px;
        line-height: 47px;
        font-weight: 600;
        margin-bottom: -3px;
        @include brSpPortrait{
            font-size: 23px;
            line-height: 32px;
        }
    }   
    p{
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        @include brSpPortrait{
            font-size: 11px;
            line-height: 15px;
        }
    }
}
.c-title-center{
    text-align: center;
    h3{
        font-size: 35px;
        line-height: 47px;
        font-weight: 600;
        margin-bottom: 0px;
        @include brSpPortrait{
            font-size: 23px;
            line-height: 32px;
        }
    }   
    p{
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        @include brSpPortrait{
            font-size: 11px;
            line-height: 15px;
        }
    }
}