.c-tabs, .c-tabs-about{
    &__nav{
        display: flex;
        justify-content: center;
        margin-bottom: 145px;
        @include brSpLandscape{
            margin-bottom: 17px;
        }
        &.pc{
            @include brSpLandscape{
                display: none;
            }
        }
        &.sp{
            display: none;
            @include brSpLandscape{
                display: block;
                padding: 0 7px;
            }

        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            @include brSpLandscape{
                margin-left: -5px;
                margin-right: -5px;
                justify-content: flex-start;
            }
            &::after{
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: -23px;
                background-color: #D1D1D1;
                z-index: 1;
                @include brSpLandscape{
                    display: none;
                }
            }
            li{
                min-width: 160px;
                padding: 0 20px;
                text-align: center;
                position: relative;
                @include brTablet{
                    padding: 0 20px;
                    min-width: 140px;
                }
                @include brSpLandscape{
                    padding-left: 5px;
                    padding-right: 5px;
                    flex: 50%;
                    max-width: 50%;
                    min-width: auto;
                } 
                &.badge{
                    &::before{
                        content: url("../img/common/img_badge.png");
                        position: absolute;
                        top: -40px;
                        left: 1px;  
                    }
                }
                &.active{
                    &::after{
                        content: "";
                        width: 100%;
                        height: 1.5px;
                        position: absolute;
                        left: 0;
                        bottom: -23px;
                        background-color: $cAccent;
                        z-index: 2;
                        @include brSpLandscape{
                            display: none;
                        }
                    }
                }
                select{
                    &:focus-visible{
                        outline: none;
                    }
                }
                .c-select{
                    .js-fake-input{
                        background: transparent;
                        padding: 0;
                    }
                    @include brSpLandscape{
                        background-color: #F4F4F4;
                        display: flex;
                        justify-content: center;
                        select{
                            // width: auto; 
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
                a, select{
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    display: block;
                    text-align: center;
                    text-align: -webkit-center;
                    border: none;
                    width: 100%;
                    @include brSpLandscape{
                        font-size: 14px;
                        line-height: 19px;
                        color: #1F1F1F;
                        background-color: #F4F4F4;
                        border-radius: 4px;
                        height: 44px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}