.c-top-mv {
    &__sp {
        display: none;
        @include brSpLandscape {
            display: block;
        }
    }
    &__pc {
        @include brSpLandscape {
            display: none;
        }
    }
    &__title {
        position: absolute;
        top: 160px;
        left: calc((100% - 1200px) / 2);
        @include brSmallPc {
            left: 15px;
        }
        @include brTablet {
            top: calc(65px + 25px);
            left: 25px;
        }
        h3 {
            font-size: 50px;
            line-height: 68px;
            font-weight: 600;
            @include brTablet {
                font-size: 25px;
                line-height: 34px;
                margin-bottom: -3px;
            }
        }
        p {
            font-size: 35px;
            font-weight: 600;
            line-height: 47px;
            margin-top: -5px;
            color: $cBase;
            @include brTablet {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}