.c-wrap {
    background: #fff;
    margin-top: -266px;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    @include brSmallPc {
        margin-top: -120px;
    }
    @include brTablet {
        margin-top: -90px;
    }
    @include brSpLandscape {
        margin-top: -84px;
    }
}