@charset "utf-8";

.p-case-details{
    .c-top-mv{
        img{
            @include brSpLandscape{
                height: 328px;
                object-fit: cover;
            }
        }
    }
    
    &__content{
        position: relative;
        &__inner{
            background-color: #fff;
            margin-top: -265px;
            padding: 20px 40px 0px;
            .c-breadcrumb {
                margin-bottom: 18px;
                ul{
                    li{
                        + li::before{
                            opacity: 0.3;
                        }
                        &.active{
                            a{
                                opacity: 1;
                            }
                        }
                        a{
                            opacity: 0.3;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
                @include brSpLandscape{
                    margin-bottom: 10px;
                }
            }
            @include brSmallPc{
                margin-top: -162px;
            }
            @include brSpLandscape{
                padding: 4px 10px 30px;
            }
        }
        
    }
    .l-row{
        margin-left: -15px;
        margin-right: -15px;
        align-items: center;
    }
    &__col-left{
        flex: 51.31%;
        max-width: 51.31%;
        padding-left: 15px;
        padding-right: 15px;
        @include brSpLandscape{
            flex: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    &__col-right{
        flex: 48.69%;
        max-width: 48.69%;
        padding-left: 15px;
        padding-right: 15px;
        @include brSpLandscape{
            flex: 100%;
            max-width: 100%;
        }
    }
    &__title{
        color: #000;
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        margin-bottom: 39px;
        margin-top: 6px;
        @include brSpLandscape{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
    &__short-desc{
        color: #000;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 37px;
        @include brSpLandscape{
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    &__overview{
        margin-bottom: 46px;
        @include brSpLandscape{
            margin-bottom: 20px;   
        }
        h5{
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 7px;
            @include brSpLandscape{
                font-size: 14px;
            }
        }
        p{
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            @include brSpLandscape{
                font-size: 12px;
            }
        }
    }
    &__url{
        a{
            font-size: 14px;
            line-height: 19px;
            color: #000;
        }
    }
    &__desc{
        margin-top: 56px;
        @include brSpLandscape{
            margin-top: 30px;
        }
        &-section{
            margin-bottom: 40px;
            @include brSpLandscape{
                margin-bottom: 30px;
            }
            h4{
                font-size: 20px;
                line-height: 27px;
                font-weight: 600;
                color: $cAccent;
                margin-bottom: 16px;
                @include brSpLandscape{
                    font-size: 16px;
                }
            }
            p{
                font-size: 16px;
                font-weight: 600;
                color: #000;
                line-height: 22px;
                @include brSpLandscape{
                    font-size: 12px;
                }
            }
        }
    }
    &__tag{
        ul{
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #D5D5D5;
            border-radius: 3px;
            padding: 17.5px 29px 7.5px;
            margin-top: 104px;
            @include brSpLandscape{
                margin-top: 0;
                padding: 15px;
            }
            li{
                margin-right: 30px;
                margin-bottom: 10px;
                a{
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 600;
                }
            }
        }
    }
    &__line{
        width: 100%;
        height: 1px;
        background-color: #CCCCCC;
        margin-top: 59px;
        margin-bottom: 55px;
        @include brSpLandscape{
            margin-top: 30px;
            margin-bottom: 30px;   
        }
    }
    &__customer-voice{
        .slick-list{
            margin-left: -17px;
            margin-right: -17px;
            margin-bottom: 46px;
            @include brSpLandscape{
                margin-bottom: 0;
            }
        }
        h3{
            font-size: 35px;
            font-weight: 600;
            line-height: 47px;
            margin-bottom: 44px;
            @include brSpLandscape{
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 10px;
            }
        }
        &__slider{
            .slick-arrow{
                width: 39.5px;
                height: 39.5px;
                border: 1px solid $textColor;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                transition: .4s;
                position: absolute;
                top: -87px;
                z-index: 5;
                @include brSpLandscape{
                    width: 35px;
                    height: 35px;
                    background-color: $textColor;
                    top: calc(35%);
                    transform: translateY(-50%);
                    svg{
                        width: 7px;
                        path{
                            stroke: #fff;
                        }
                    }
                }
                &.slick-prev{
                    right: 65px;
                    @include brSpLandscape{
                        left: -15px;
                    }
                    svg{
                        transform: rotate(180deg);
                    }
                }
                &.slick-next{
                    right: 5px;
                    @include brSpLandscape{
                        left: auto;
                        right: -15px;
                    }
                }
                &:hover{
                    background-color: $textColor;
                    path{
                        stroke: #fff;
                    }
                }
                img{
                    width: auto;
                }
            }
        }
        &__box{
            position: relative;
        }
        &__category{
            font-size: 12px;
            font-weight: 700;
            line-height: 17px;
            color: $cAccent;
            margin-bottom: 6px;
        }
        &__col{
            padding-left: 17px;
            padding-right: 17px;
            margin-bottom: 23px;
        }
        &__box{
            background-color: #fff;
            box-shadow: 0 3px 20px rgba(154, 154, 154, 0.16);
        }
        &__img{
            display: block;
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                transition: .4s;
                height: 350px;
                object-fit: cover;
            }
        }
        &__info{
            padding: 22px 16px 33px;
        }
        &__title{
            font-size: 14px;
            line-height: 19px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #000;
        }
        &__desc{
            font-size: 14px;
            line-height: 19px;
            font-weight: 300;
            color: #000;
            margin-bottom: 0;
        }
    }
    &__back-to-index{
        display: block;
        text-align: center;
        font-family: "gill-sans";
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        padding: 30px 0 28px;
        margin-bottom: 94px;
        @include brSpLandscape{
            font-size: 14px;
            padding: 18px 0;
            margin-bottom: 60px;   
        }
    }
}